# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spark Logs
event_logs/
*.jsonl
*.zstd

# Python compilation
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.databricks

# Testing
.coverage
.pytest_cache/
htmlcov/
*.egg-info/

# Build artifacts / test output
test_output.txt
test_results.txt
mock.py
mock2.py
